[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "CutLER/third_party/TokenCut"]
	path = CutLER/third_party/TokenCut
	url = https://github.com/YangtaoWANG95/TokenCut.git
